{
  "extends": [
    "stylelint-config-standard"
  ],
  "customSyntax": "postcss-styled-syntax",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "color-function-notation": "legacy",
    "order/properties-alphabetical-order": true,
    "color-named": "never",
    "declaration-block-no-duplicate-properties": true,
    "selector-class-pattern": null
  }
}
